<div class="customer-setup-title">
  <h5>Carrier sender attributes</h5>
</div>

<div class="customer-setup-section">
  <button type="button" class="btn btn-primary btn-sm table-header-row-actionbtn-marginright">Add new</button>
  <div>
    <table class="table table-framed">
      <thead>
        <tr>
          <th>
            ACTIVATE
          </th>
          <th>
            ATTRIBUTE
          </th>
          <th class="hide-in-mobile-version">
            STANDARD
          </th>
          <th class="hide-in-mobile-version">
            DESCRIPTION
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="checkbox" id="customer-number" name="customer-number" value="CustomerNo">
            <label for="customer-number"></label>
          </td>
          <td>
            Customer number
          </td>
          <td class="hide-in-mobile-version">
          </td>
          <td class="hide-in-mobile-version">
          </td>
          <td>
            <button type="button" class="btn btn-primary btn-sm table-header-row-actionbtn-marginright"
              style="margin-right: 5px;">Reconfigure</button>
            <button type="button" class="btn btn-primary btn-sm table-header-row-actionbtn-marginright">Delete</button>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="shipment-sender-reference" name="shipment-sender-reference"
              value="Shipment sender reference">
            <label for="shipment-sender-reference"></label>
          </td>
          <td>
            Shipment sender reference
          </td>
          <td class="hide-in-mobile-version">
          </td>
          <td class="hide-in-mobile-version">
          </td>
          <td>
            <button type="button" class="btn btn-primary btn-sm table-header-row-actionbtn-marginright"
              style="margin-right: 5px;">Reconfigure</button>
            <button type="button" class="btn btn-primary btn-sm table-header-row-actionbtn-marginright">Delete</button>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="shipment-receiver-reference" name="shipment-receiver-reference"
              value="Shipment receiver reference">
            <label for="shipment-receiver-reference"></label>
          </td>
          <td>
            Shipment receiver reference
          </td>
          <td class="hide-in-mobile-version">
          </td>
          <td class="hide-in-mobile-version">
          </td>
          <td>
            <button type="button" class="btn btn-primary btn-sm table-header-row-actionbtn-marginright"
              style="margin-right: 5px;">Reconfigure</button>
            <button type="button" class="btn btn-primary btn-sm table-header-row-actionbtn-marginright">Delete</button>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="shipment-number-per-customer" name="shipment-number-per-customer"
              value="Shipment number per customer">
            <label for="shipment-number-per-customer"></label>
          </td>
          <td>
            Shipment number per customer
          </td>
          <td class="hide-in-mobile-version">
          </td>
          <td class="hide-in-mobile-version">
          </td>
          <td>
            <button type="button" class="btn btn-primary btn-sm table-header-row-actionbtn-marginright"
              style="margin-right: 5px;">Reconfigure</button>
            <button type="button" class="btn btn-primary btn-sm table-header-row-actionbtn-marginright">Delete</button>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="parcel-number-per-customer" name="parcel-number-per-customer"
              value="Parcel number per customer">
            <label for="parcel-number-per-customer"></label>
          </td>
          <td>
            Parcel number per customer
          </td>
          <td class="hide-in-mobile-version">
          </td>
          <td class="hide-in-mobile-version">
          </td>
          <td>
            <button type="button" class="btn btn-primary btn-sm table-header-row-actionbtn-marginright"
              style="margin-right: 5px;">Reconfigure</button>
            <button type="button" class="btn btn-primary btn-sm table-header-row-actionbtn-marginright">Delete</button>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="rating" name="rating" value="Rating">
            <label for="rating"></label>
          </td>
          <td>
            Rating
          </td>
          <td class="hide-in-mobile-version">
          </td>
          <td class="hide-in-mobile-version">
          </td>
          <td>
            <button type="button" class="btn btn-primary btn-sm table-header-row-actionbtn-marginright"
              style="margin-right: 5px;">Reconfigure</button>
            <button type="button" class="btn btn-primary btn-sm table-header-row-actionbtn-marginright">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="end-buttons">
    <button type="submit" routerLink="/trackingNumberConfiguration" class="btn btn-primary btn-primary">Back</button>
    <button type="submit" routerLink="/carrierSetupOverview" class="btn btn-primary btn-primary">Next</button>
  </div>

</div>
