<form class="services" style="border: 1px solid #ccc; ">

  <div class="butons">
    <button type="submit" class="btn btn-primary btn-primary" style="margin-right: 10px;">Save</button>
    <button type="button" class="btn">Cancel</button>
  </div>

  <div class="file-info">
    <div class="file-text">
      <input type="text" class="form-control" disabled  style="color: rgba(0,0,0,1); background-color: white;">
    </div>
    <div class="file-label">
      <img src="" alt="shipment label">
    </div>
  </div>

  <div class="butons">
    <button type="button" class="btn">Convert</button>
    <button type="button" class="btn">Validate</button>
    <button type="button" class="btn">Redraw</button>
  </div>

</form>


