<div class="carrier-label-title">
  <h5>Carrier label configuration</h5>
</div>

<div class="label-configuration-section">
  <button type="submit" class="btn btn-primary btn-primary">Upload file</button>
  <button type="submit" class="btn btn-primary btn-primary" style="margin-left: 10px;">Use template</button>
  <div>
    <table class="table table-framed">
      <thead>
        <tr>
          <th>
          </th>
          <th>
            PREVIEW
          </th>
          <th>
            UPLOAD
          </th>
          <th>
            FORMAT
          </th>
          <th>
            DPI
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <app-label></app-label>

  <div class="end-buttons">
    <button type="submit" routerLink="/availableDocuments" class="btn btn-primary btn-primary">Back</button>
    <button type="submit" routerLink="/trackingNumberConfiguration" class="btn btn-primary btn-primary">Next</button>
  </div>

</div>
